@import url('https://fonts.googleapis.com/css?family=Montserrat');

$black: #000;
$white: #fff;
$dark-grey: #2D2C2C;
$logo-blue: #20425b;
$mlh-blue: #265A8F;
$logo-grey: #aaa;
$logo-black: #231f20;
$site-font: 'Montserrat', sans-serif;