@import 'defines';

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
  margin: 0;
  font-family: $site-font;
  position: relative;
}

h2 {
  text-align: center;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  padding: 5px 15px;
  font-weight: bold;
}

.blue {
  color: $logo-blue;
}

.blue-back {
  background-color: $logo-blue;
  color: #FFF;
}

.white-back {
  background-color: #FFF;
}

// Provided in Bootstrap
// .text-center {
//   text-align: center;
// }

ul {
  text-align: left;
}

.nav {
  background-color: #1C1B1B;
  color: $white;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 70px;
  font-size: 20px;

  .navigation {
    display: inline-block;
    position: absolute;
    right: 150px;

    .nav-item {
      display: inline-block;
      padding: 21px 10px;
      font-weight: bold;
    }
  }

  .nav-icon {
    display: inline-block;
    padding: 15px;
    img {
      height: 40px;
    }
  }
}

// #myCarousel {
//   // position: absolute;
//   // z-index: 1;
//   // top: 70px;
//   width: 100%;

//   img {
//     width: 100%;
//     height: 600px;
//   }
// }

.slideshow {
  width: 100%;
  height: 700px;
}

#logo-overlay {
  position: absolute;
  z-index: 2;
  top: 70px;
  width: 100%;
  height: 500px;
  text-align: center;

  img {
    width: 300px;
    margin-top: 115px;
  }

  #register {
    padding: 20px;
    color: $white;
    background-color: $logo-blue;
    width: 20%;
    margin-left: 40%;
    border-radius: 10px;
  }
}

#about {
  // position: absolute;
  // top: 670px;
  width: 100%;
  padding: 30px;
  text-align: center;
  
  .row {
    margin-top: 20px;
  }

  ul {
    margin-left: 150px;
  }

}

#sponsors, #faq, #schedule, #contact {
  width: 100%;
  padding: 30px 200px;
  text-align: center;
  
  .row {
    margin-top: 20px;
  }

  ul {
    margin-left: 150px;
  }

}

.pad-img {
  margin-bottom: 10px;
}