@import 'defines';

body {
  margin: 0;
  font-family: $site-font;
}

h2 {
  text-align: center;
}

.blue {
  color: $logo-blue
}

h4 {
  padding: 5px 15px;
}

.nav-bar {
  background-color: $black;
  color: $white;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 70px;
  font-size: 20px;

  .navigation {
    display: inline-block;
    position: absolute;
    right: 150px;

    .nav-item {
      display: inline-block;
      padding: 21px 10px;

    }
  }

  .nav-icon {
    display: inline-block;
    padding: 15px;
    img {
      height: 40px;
    }
  }
}

#myCarousel {
  position: absolute;
  z-index: 1;
  top: 70px;
  width: 100%;

  img {
    width: 100%;
    height: 600px;
  }
}

#logo-overlay {
  position: absolute;
  z-index: 2;
  top: 70px;
  width: 100%;
  height: 500px;
  text-align: center;

  img {
    width: 300px;
    margin-top: 115px;
  }

  #register {
    padding: 20px;
    color: $white;
    background-color: $logo-blue;
    width: 20%;
    margin-left: 40%;
    border-radius: 10px;
  }
}

#about {
  position: absolute;
  top: 670px;
  width: 100%;
  padding: 30px;
  text-align: center;

  .row {
    margin-left: 125px;
    text-align: left;
  }
}